<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="TGC.Tools.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
  </startup>
  <userSettings>
    <TGC.Tools.Properties.Settings>
      <setting name="ShadersDirectory" serializeAs="String">
        <value>Shaders\</value>
      </setting>
      <setting name="MediaDirectory" serializeAs="String">
        <value>Media\</value>
      </setting>
      <setting name="Title" serializeAs="String">
        <value>TGC Tools - Técnicas de Gráficos por Computadora - UTN - FRBA</value>
      </setting>
      <setting name="CommonShaders" serializeAs="String">
        <value>Shaders\Common\</value>
      </setting>
      <setting name="MediaLink" serializeAs="String">
        <value>https://drive.google.com/open?id=1OII2l6ZZyQcm8woV4HJ2_pnZyh_ym5EU</value>
      </setting>
    </TGC.Tools.Properties.Settings>
  </userSettings>
</configuration>